* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Almendra", serif;
}

/* home components */

.form-content::before {
  left: -10px !important;
}
/* home buttons */
.homeBtn {
  padding: 12px 26px !important;
  width: fit-content;
}

.homeBtn::before {
  left: 8px !important;
  animation: floatStar 3s ease-in-out infinite alternate;
}

.homeBtn::after {
  right: 8px !important;
  animation: floatStar 3s ease-in-out infinite alternate;
}

/* home titles */
.homeTitles {
  padding: 0 5rem;
  margin: 7rem 0 4rem;
}

.homeTitles h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
  color: var(--color-secondary-dark);
}

.homeTitles hr {
  margin: 0 auto;
}

/* hero sectoin */

.heroSection {
  position: relative;
  height: 110vh;
  background: url(../img/homeHeroSection.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heroSection img {
  height: 100%;
  width: 100%;
}

.heroContainer {
  position: absolute;
  left: 6%;
  top: 50%;
  transform: translateY(-50%);
  width: 65%;
  max-width: 530px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heroContainer h1 {
  color: var(--color-white);
  margin-bottom: 0;
}

.heroContainer p {
  color: var(--color-gray-light);
}

.heroContainer hr {
  margin: 10px;
}

/* about us */

.aboutSection {
  position: relative;
  display: flex;
}

.aboutSection .aboutBG {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  min-width: 800px;
  aspect-ratio: 4 / 3;
  margin: auto;
}

.aboutSection .aboutBGresponsive {
  display: none;
}

.aboutContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  max-width: 530px;
  min-width: 430px;
  text-align: center;
  z-index: 1;
}

/* cards */
/*  workshop cards  */

.workshopsSection {
  padding: var(--space-8) 0;
  background-size: cover;
  background-attachment: fixed;
}

/* Workshops Grid Section */

.workshopCardsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: var(--space-8);
  justify-items: center;
}

.cardsContainer {
  transition: all 0.3s ease;
  perspective: 1000px;
}

.cardsContainer:hover {
  transform: translateY(-10px);
  filter: drop-shadow(0 15px 25px rgba(171, 32, 32, 0.4));
}

.flipCard {
  position: relative;
  width: 320px;
  height: 500px;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.frontCard,
.backCard {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  backface-visibility: hidden;
}

.backCard {
  transform: rotateY(180deg);
}

.frontCard img,
.backCard img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

/*  animation apply  */

.cardsContainer.aos-animate .flipCard {
  animation: flip 1.2s 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(180deg);
  }
}

/* Explore Button */
.cardContent {
  position: absolute;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.cardText {
  color: var(--color-primary);
  font-size: var(--fs-xl);
  font-weight: var(--fw-bold);
}

/* stat */
.statContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 0 4rem;
}

.stat {
  width: 20%;
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stat img {
  height: 130px;
}

.stat h4 {
  margin-bottom: 0;
  color: var(--color-secondary-dark);
}

.statNumber {
  margin: 2.2rem 0 0.5rem;
}

/* sponsors */
.sponsorContainer {
  display: flex;
  flex-wrap: wrap;
}
.sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 40px; */
}

.sponsor {
  position: relative;
  width: 300px;
}

.sponsorInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsorInfo img {
  width: 60px;
}

.sponsorInfo p {
  margin-bottom: 0;
  color: var(--color-primary-dark);
  font-size: 19px;
  font-weight: bold;
  line-height: 1.3;
}

.sponsorName {
  color: var(--color-secondary-dark);
  /* font-size: var(--fs-lg); */
  font-weight: var(--fw-semibold);
}

/* contact us */

.contactUsContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

/* form */

.homeContactPaper {
  position: relative;
  align-content: center;
}

.contactText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--btn-primary-hover);
  font-size: 23px;
}

.homeBird {
  position: absolute;
  top: -17%;
  right: -20px;
  width: 130px;
  transform: rotate(30deg);
}

.input-group textarea,
select {
  width: 100%;
  padding: var(--space-3);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-dark);
  background: linear-gradient(to bottom, #5a5a5a, #6d6d6d);
  color: var(--color-white);
  font-size: var(--fs-sm);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.4);
  outline: none;
  resize: both;
}

.input-group textarea::placeholder {
  color: var(--text-light);
  font-style: italic;
}

.input-group textarea:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.4), 0 0 6px rgba(197, 37, 37, 0.4);
}

/* validation form */

.input-group input.invalid,
.input-group textarea.invalid {
  border-color: #8b1e1e;
  box-shadow: 0 0 6px rgba(139, 30, 30, 0.4);
}

.error {
  font-size: 13px;
  color: #8b1e1e;
  min-height: 14px;
}


@media (max-width: 1000px) {
  .contactUsContainer {
    justify-content: center;
  }

  .homeContactPaper {
    display: none;
  }
}

@media (max-width: 850px) {
  .aboutSection .aboutBGresponsive {
    display: inline-block;
    width: 100%;
    height: 560px;
  }

  .aboutSection .aboutBG {
    display: none;
  }

  .aboutContainer {
    width: 60%;
    max-width: 530px;
    min-width: 200px;
    text-align: center;
    z-index: 1;
  }

  /* stats */
  .statContainer {
    flex-wrap: wrap;
    padding: 0 8rem;
  }

  .stat {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .heroContainer {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
  }
}

@media (max-width: 486px) {
  .statContainer {
    justify-content: center;
  }
}
